@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo h3{
    font-size: 28px;
    font-weight: 700;
}
.nav-content{
    display: flex;
}
#icon{
    visibility: hidden;
}
.nav-content ul {
    display: flex;
    
}
.nav-content li{
    list-style: none;
}
.nav-content a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #424247;
   margin-right: 1.4rem;
}

.banner-img{
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\)\ \(2\)\ \(2\).png');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width:1100px;
    height: 550px;
    margin: 0 auto;
    border-radius: 16px;
} 
.banner-content{
    padding-top: 140px;
    text-align: center;
    
    
}
.banner-content h3{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
} 
.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding-top: 20px;
} 
#btn{
    background-color: #ff400f;
    border: none;
    color: #fff;
}  
.banner-input{
    
    margin-top: 30px;
    
    text-align: center;
    background-color: #f0e9e94a;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 8px;   
}
.banner-input input{
    font-family:'FontAwesome';
}
.banner-input input{
    height: 34px;
    width: 178px;
    margin-right: 1rem;
    border-radius: 8px;
    border: none;
}
/* main section start */

.tours-container{
    max-width: 1100px;
    margin: 100px auto;
    display: flex;
    gap: 20px;
}
.tours-content{
    width: 50%;
}
.tours-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.tours-content p{
    padding: 40px 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.tours-content ul{
    padding-left: 30px;
    
}
.tours-content li{
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}
.btn-primary{
    background-color: #ff400f;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 7px;
    border-radius: 8px;
    border: none;
}
.tours-img{
    width: 50%;
}
/* new section start */
.destination{
    max-width: 1100px;
    margin: 0 auto;
    
}
.destination-container{
    
    margin-top: 60px;
    
}
.destination-content{
   text-align: center; 
    
   padding: 0 30px;
   
    
}
.destination-content h2{
    font-size: 40px;
    font-size: 800;
    color: #131318;
}
.destination-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size:1rem ;
    font-weight: 400;
    /* padding-top: 20px; */
}
.destination-image{
    display: flex;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}
.destination-image img{
    width: 50%;
    margin: 0 auto;
}

#image2{
    width:50%;
    display: block;
    
    height: auto;
}
.image2{
    width: 25%;
    height: auto;
}
#image3{
    width:40%;  
}
#image4{
    width:60%;
}

/* new section start */
.choose-container{
    max-width:1100px;
    margin:0 auto;
    
}
.choose{
    margin-top: 60px ;
    padding-bottom: 30px;
    text-align: center;
}
.hotel-service-container{   
    display: flex;
    
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
}
.hotel{
   background-color:  rgba(255, 192, 203, 0.274);
   padding: 30px;

}
.service{
    background-color: rgba(127, 255, 212, 0.331);
    padding: 30px;
}
.price{
    background-color: rgba(222, 206, 209, 0.301);
    padding: 30px;
    justify-content: center;
    
    /* width:550px ; */
    margin: 0 190px;
    margin-top: 20px;
}
.icon{
    padding-bottom: 10px;
}
.unic{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.common{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
/* me star */
/*  */
.me{
    max-width: 1100px;
    margin: 0 auto;
}
.room-content{
    margin-top: 50px;
    text-align: center;
}
.room-content p{
    padding-top:20px ;
    font-size: 1rem;
    font-weight: 500;
    color: #5A5A5D;
}
.room-content h2{
    font-size: 38px;
    font-weight: 800;
}
.room-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 80px;
    gap: 20px;
    
}
.room img{
  width: 100%;
}
.room{
    border-radius: 1rem;
    padding: 20px;
    background-color: #e0d5d5fe;
}


.deals-1st{
    text-align: center;
    margin-top:100px ;
    padding-bottom: 40px;
}
.deals-img1{
    background-image: url('./Images/Group\ 39.png');
   max-width:1100px ;
   height:500px ;
   margin: 0 auto;
   border-radius: 16px;
   padding-top: 160px;
}
.deals-img1-content{
    display: flex;
    border: 2px solid;
    background-color: #fbf4f4d3;
    
    position: relative;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    margin-right: 56px;
    
    padding: 50px;
    /* background-color: #fff; */
     gap: 20px;
}
.du {
    display: flex;
    align-items: start;
    gap: 5px;
}
/* new section start  */

.simple{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    gap: 20px;
    /* align-items: center; */
}
.simple-content{
    width: 50%;
}
.simple-content h2{
    font-size: 2rem;
    font-weight: 700;
    color: #131318;
}
.simple-para{
    padding: 30px 0;
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}
.simple-content li{
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    color:#131318 ;

}
.simple-content ul {
    padding-left: 20px;
}
.simple-vedio{
    
    margin: 0 auto;
}
.btn-y{
    font-size: 20px;
    font-weight: 800;
    padding: 15px;
    color: #fff;
    background-color: #ff400f;
    border-radius: 8px;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.news{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 60px;
    gap: 20px;
}
.news-latter{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 50%;
    padding: 40px;
}
.news-latter h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.news-latter p{
      padding: 24px 0;
      color: #5A5A5D;
      font-size: 1rem;
      font-weight: 400;
}
.news-input{
    display: block;
    border-top: 2px solid #fff;
}
.news-input:hover{
    border-color: #ff400f;   
}
.news-input input{
    padding: 15px;
    width: 80%;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
}
#button{
    background-color: #ff400f;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.enter{
    font-size: 16px;
    font-weight: 400;
}
.save-up img{
    width: 100%;
    margin:0 auto ;
    height: 100%;
}
.save{
    border: 1px solid;
    border: none;
    background-color: #FF5400;
    color: #fff;
    width: 200px;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 8px;
    position: relative;
    bottom: 130px;
    left:23.7rem;
    transform: rotate(-30deg);
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer{
    margin-top: 170px;
    background:  rgba(19, 19, 24, 0.05);;
    text-align: center;
    align-items: center;
    padding: 30px 120px;
}
.footer-title h2{
    font-size: 32px;
    font-weight: 800;
}
footer p{
   padding: 20px 0;
   color: #5A5A5D;

text-align: center;
font-size: 16px;
font-weight: 400;
}
.span span{
    margin-right: 16px;
    padding-top: 30px;
    padding-bottom: 90px;
}



@media screen and (max-width:600px) {
    .nav-content ul{
        visibility: hidden;
        
    }
    .nav-content{
        flex-wrap: wrap;
    }
    .nav-content #icon{
        visibility: visible;
        position: relative;
        left: 290px;
        bottom: 30px;
    }
    nav{
        flex-wrap: wrap;
    }
    .banner-input{
        display: block;
    }
    .banner-input input{
        width: 280px;
        margin-bottom: 20px;
    }
    .tours-container{
        flex-direction: column;
    }
    .tours-content{
        width: 100%;
        padding: 0 20px;
    }
    .tours-img img{
        width: 198%;
        
    }
    .destination-content{      
       text-align: center;   
    }
    
    .destination-image {
        flex-direction: column;
        width: 500px;
        padding:0 20px ;
        height:auto ;
        
    }

    .room-container{
        grid-template-columns: repeat(1,1fr);
    }



   .hotel-service-container{
    flex-direction: column;
   }
   .price{
    margin: 0 ;
    margin-top: 20px;
   }
   .simple{
    flex-direction: column;
   }
   .simple-vedio{
    width: 100%;
    margin: 0 auto;
    }
    .simple-content{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

   .news-input input{
    width: 100%;
 
   }
   .news-latter{
    width: 100%;
    height: 100%;
    margin: 0 auto;
   }
  .save-up img{
    width: 100%;
    height: 100%;
  }
   .news{
   flex-direction: column;
   }
   .save{
    
    position: sticky;
    
    top: 0;
    bottom: 0;
    
   }
}
