@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 50px 100px;
}
.travel{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bar a{
    color: var(--Dark-02, #424247);
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
}
#Home{
    color: #FF5400;
}
.travel h2{
    color: #131318;
     font-size: 36px;
     font-weight: 800;
}
.banner{
      width:100%;
      height: 500px;
     margin-left: 90px;
    
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\)\ \(2\).png');
    background-repeat: no-repeat;
    
}
.banner-content{
   position: relative;
   right: 50px;
   text-align: center;
   align-items: center;
   padding-top: 60px;

}
.banner-content h2{
    color: #FFF;
    font-size: 44px;
    font-weight: 800;
}
#para{
    color: #FFF;
    max-width: 700px;
    padding-top: 10px;
    padding-left:470px ;
    font-size: 1rem;
    font-weight: 400;
}
#para:hover{
    color:yellow
}
.banner-input input{
   
    width: 140px;
    height: 46px;
   margin-right:34px;
   border-radius: 8px;
   border: none;
   
}
.banner-input{
    margin: 20px 220px;
    padding: 10px 0;
    border: 2px solid;
    border: none;
    background: rgba(255, 255, 255, 0.30);
     border-radius: 8px;
     
}
.btn-primary{
    border-radius: 8px;
   border: none;
    width: 140px;
    height:46px ;
    font-size: 1rem;
    font-weight: 700;
    background-color: #FF5400;
    color: #FFF;
}

.unicode{
    
    font-family: 'FontAwesome';
}





